﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(../images/mobile-background.png);
    background-position: center 45px;
    background-size: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Body */

.slogan {
    color: white;
    text-align: center;
    margin: 1.5em 2em;
    font-size: 1.75em;
}

.card {
    margin: 1em;
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 16px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    margin: auto;
}

.btn {
    border: 2px solid white;
    color: white;
    background-color: #007bff;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1em;
}

#open_about {
    background-color: whitesmoke;
    border-radius: 8px;
    float: right;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-header {
    text-align: center;
}

#imgPreview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}
/*desktop*/
@media only screen and (min-width: 800px) {
    #imgPreview img {
        width: 20vw;
        max-height: 320px;
    }
    .card {
        margin: 1em 4em;
    }
    .upload-btn-wrapper {
        margin: 1em auto;
        margin-bottom: 0;
    }
}
/*mobile*/
@media only screen and (max-width: 799px) {
    #imgPreview img {
        max-height: 280px;
        width: 50vw;
    }
}
#prediction {
    text-align: center;
}


/******* Spinner *********/

#loader {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loader::after {
    content: '';
    display: block;
    position: absolute;
    /* Firefox */
    left: -moz-calc(50% - 20px);
    /* WebKit */
    left: -webkit-calc(50% - 20px);
    /* Opera */
    left: -o-calc(50% - 20px);
    /* Standard */
    left: calc(50% - 20px);
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


/* Dialog Box */
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-resizable {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
    border-radius: 8px;
    padding: 0;
    border: 0;
    width: 90vw;
}

.ui-dialog-titlebar {
    padding: .5em !important;
    background: #343a40 !important;
    border: 0 !important;
}

.ui-dialog-title {
    color: white;
}
