﻿@model FurnitureIdentifier.Models.ImageModel


@{
    ViewData["Title"] = "Upload";
}

<h1 class="slogan">Furniture Identification Through Machine Learning</h1>

<div class="card box-shadow">

         <h4 class="upload-header">Upload a Furniture Image</h4>
    <p  style="text-align: center;">
        Capable of classifying as either a Bed, Chair, Sofa, Swivel Chair, or Table.
    </p>
        <hr />

        <div id="imgPreview" class="thumbnail" style="display:none">
            <img class="img-responsive" id="targetImg" />
        </div>
        <p id="prediction"></p>
        <form class="d-flex" id="imageForm" action="/api/Predict" method="post">
            <div class="upload-btn-wrapper">
                <input type="file" id="imageBrowes" />
                <button class="btn upload-btn">Upload</button>
            </div>
            <button type="submit" class="btn submit-btn" style="display:none;">Submit</button>
        </form>
    
</div>

<div id="loader"></div>


<div id="about" style="display:none">
    <p>Team Members:</p>
    <ul>
        <li>James Scruggs</li>
        <li>Sam Hollingsworth</li>
        <li>Cody Maness</li>
        <li>Girgis Shihataa</li>
        <li>Alex Bellina</li>
        <li>Emily Bridgers</li>
        <li>Robert Smith</li>
    </ul>
    <p>About the Project:</p>
    <p>
        Net Core Web application that utilizes a machine learning model that allows the user to upload images of a few furniture items and predicts what furniture item that image is. 
        The machine learning model was built using ML.Net (which utilizes transfer learning). 
        The application is concentrated on supporting mobile friendly viewing within the mobile web browser. 
    </p>

</div>

